#container{
    display: grid;
    grid-template-areas: "h h"
                         "c c"
                         "f f";
    
}
#header{
    display: grid;
    grid-area: h;
    background-color: #d9b310;
}
#content{
    display: grid;
    grid-area: c;
    grid-template-columns: 0.2fr 1fr;
    background-color: #328cc1;
    height: 600px;
}
h1{
    color: white;
}
a{
    color: white;
    font-style: normal;
    text-decoration: none;
}
#nav-list{
    color: white;
    padding: 30px;
    width: 200px;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr;
    /* grid-area: n; */
    /* height: fit-content; */
    background-color: #0b3c56;
}
#footer{
    display: grid;
    grid-area: f;
    background-color: #1d2731;
}
#designs{
    justify-self: center;
    align-self: center;
    font-family: math;
    color: white;
    justify-self: center;
    align-self: center;
    text-align: center;
}
#img {
    width: 450px;
    height: 400px;
    padding: 10px;
}
div#headr-list {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    /* width: fit-content; */
    /* height: fit-content; */
    align-items: center;
}
#footer > a {
    margin: 10px;
    justify-self: center;
}